<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * di
 *
 * @copyright Copyright © 2024 Magerserv LTD.. All rights reserved.
 * @author    mageserv.ltd@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Cms\Model\Page">
       <plugin name="add_yamm_refund_form"
               type="Mageserv\Yamm\Plugin\Page\RefundForm"
               sortOrder="99"
               />
   </type>
</config>
